.box-login{
    height: 100vh;
}

.titulo-entrar h1{
    font-size: 3rem;
}

.titulo-entrar p{
    font-size: 1.8rem;
}

.box-entrar h1{
    font-size: 2.5rem;
}

.entrar h3{
    font-size: 1.8rem;
}

.imagemLogin{
    background-image: url('../../assets/Women_talking.gif');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}