.box-navbar{
    display: flex;
    justify-content: space-around;
}

.cursor{
    cursor: pointer;
    background-color: #eab715;
    color: white
}

.text-decorator-none{
    text-decoration: none;
}