.titulo{
    color: black !important;
    font-weight: bold !important;
}

.botao{
    background-color: #eab715 !important;
    color: white !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}