.box-bemvinde{
    height: 100vh;
}

.titulo{
    height: 15rem;
    display: flex;
    flex-direction: column;
}

.titulo h1{
    font-size: 2.5rem;
}

.titulo p{
    font-size: 1.8rem;
    width: 30rem;
    margin: 0 auto;
}

.img-mulheres{
    display: flex;
    justify-content: center;
    height: 24rem;
}

.botao{
    background-color: #eab715 !important;
    color: white !important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}