.box1{
    background-color: #eab715 !important;
}

.box2{
    background-color: #eab715 !important;
}

.redes{
    color: white !important;
    width: 3rem;
}

.textosFooter{
    color: white !important;
}

