.box1{
    background-color: #eab715 !important;
}

.box2{
    background-color: #eab715 !important;
}

.redes{
    font-size: 60px !important;
    color: white !important;
}

.textosFooter{
    color: white !important;
}