.box-cadastar{
    height: 100vh;
}

.imagemCadastro{
    background-image: url('../../assets/Super_thank_you.gif');
    background-repeat: no-repeat;
    min-height: 90vh;
    background-size: contain;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
    font-size: 2rem !important;
}

.btnCancelar{
    margin-right: 20px !important;
}